/* ---- Ce fichier à été crée a partir du 21/04/2022 par Mathis heriveau ---- */
/* ---------- Il contient les regles de style de la page index.html --------- */



/* -------------------------------------------------------------------------- */
/*                                    Body                                    */
/* -------------------------------------------------------------------------- */

body{
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
    top: 0;
}


/* -------------------------------------------------------------------------- */
/*                             Barre de navigation                            */
/* -------------------------------------------------------------------------- */

header{
    top: 0;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.menu ul{
    list-style-type: none;
}

.menu li{
    float: left;
    width: 16vw;
    text-align: center;
    position: relative;
}


.menu ul::after{
    content: "";
}

.menu a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.menu a:hover{
    color: green;
    border-bottom: 2px solid green;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.menu > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

li > .selectionne{
    color: seagreen;
}

/* -------------------------------------------------------------------------- */
/*                               Partie section                               */
/* -------------------------------------------------------------------------- */

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: RGBa(200,200,200,0.5);
}