:root{
    --couleur-text: #000;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-family: 'Roboto', sans-serif;
    color: var(--couleur-text);

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;


    overflow: hidden;


}



@media (min-width: 768px){
    h1{

        font-size: 2em;
        margin-bottom: 0;
        /*Font-family arondisment*/
        font-family: 'times new roman', serif;
        letter-spacing: 2px;
        height: 5vh;
        text-align: center;
    }

    .MeilleurProjet > a > img{
        /*Diminuer l'image*/
        width: 100px;
        height: 100px;
    }

    .contact > a > img{
        /*Diminuer l'image*/
        width : 10vw;
        height : 10vh;
        max-width : 50px;
        max-height : 50px;
    }

    .barreMySkill{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        width: 100%;
        height: 12vh;

        font-family: 'Rokkitt', Times, serif, sans-serif;
    }

    .contact{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        /*Descendre de 10px*/
        margin-top: 10vh;
        width: 50%;
        height: 12vh;
        justify-self: flex-end;

    }
    .MeilleurProjet{
        font-size: 1.5em;
    }
    .aboutMe > .descriptionMySelf > p{
        font-size: medium;
    }
    .separateur{
        height: 60%;
        border-right:rgba(0, 0, 0, 0.288) solid 4px;
    
    }


}
@media (max-width: 768px){
    h1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 0;
        /*Font-family arondisment*/
        font-family: 'times new roman', serif;
        letter-spacing: 2px;
        height: 5vh;
    }

    .MeilleurProjet > a > img{
        /*Diminuer l'image*/
        width : 70px;
        height : 70px;
    }

    .contact > a > img{
        /*Diminuer l'image*/
        max-width: 50px;
        max-height: 50px;
    }

    .barreMySkill{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: small;
        width: 100%;
        height: 12vh;

        font-family: 'Rokkitt', Times, serif, sans-serif;
    }

    .contact{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
        /*Descendre de 10px*/
        margin-top: 10px;
        width: 100%;
        height: 12vh;
        justify-self: self-end;
    }

    .bandoCitation{
        font-size: small;
    }

    .MeilleurProjet{
        font-size: 1em;
    }

    .aboutMe > .descriptionMySelf > p{
        font-size: xx-small;
        padding-left: 2vw;
    }

    
}


.barreDeNavigation{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*Reduire le space-around*/
    width: 70%;
    align-items: center;
    font-size:medium;
    height: 9vh;

}

a {
    text-decoration: none;
    color: var(--couleur-text);
}

/*Transition pour le a:hover en couleur bleu*/
a:hover{
    color: #00bcd4;
}

.bandoCitation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 15vh;
    background-color: #b8e0fc;
    background-image: linear-gradient( white, rgba(0, 0, 0, 0));
    transition: background-color 1s;
    color: #333;

    font-family: 'Rokkitt', Times, serif, sans-serif;
}

p{
    margin-bottom: 0;
    font-family:'Rokkitt', Times, serif, sans-serif;
    letter-spacing: 2px;

    /*Mise en italique */
    font-style: italic;
    text-align: center;
}


.MeilleurProjet{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    height: 30vh;

    /*Conteneur avec bord arrondi*/
    box-shadow: black 0px 0px 5px;
    font-family: 'Rokkitt', Times, serif, sans-serif;
    
    text-align: center;

    /*Mise en italique */
    font-style: italic;
    

    /*Mise en gras */
    font-weight: bold;

    
}


.MeilleurProjet > a > img:hover{
    animation: 1s ease-in-out 0s normal none 1 running bounce;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}



.aboutMe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 42vh;
    font-family: 'Rokkitt', Times, serif, sans-serif;

    letter-spacing: 2px;
}

.aboutMe > .descriptionMySelf
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 30vh;
    font-family: 'Rokkitt', Times, serif, sans-serif;
    font-size: medium;
    letter-spacing: 2px;
}


.aboutMe > .descriptionMySelf > p{
    margin-bottom: 0;
    margin-right: 4vw;
    margin-left: 4vw;
    font-family:'Rokkitt', Times, serif, sans-serif;
    letter-spacing: 2px;

    /*Mise en italique */
    font-style: italic;
    text-align: left;

    box-shadow: black 0px 0px 5px;
    
}




.aboutMe >  img{
    /*Diminuer l'image*/
    width : 120px;
    height : 200px;
    box-shadow: black 0px 0px 10px;
};



.bandoCitation:hover{
    background-color: white;
}


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(70deg);
    }
    40% {
        transform: rotate(-70deg);
    }
    60% {
        transform: rotate(30deg);
    }
    90% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.contact > a > img:hover{
    animation: rotation 2s ease-in-out 0s normal ;
}

