body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f5f5f5;

    font-family: 'Roboto', sans-serif;
    color: #333;

    width: 100vw;
    height: 100vh;

    overflow: hidden;


}

h1{
    font-size: 2.5em;
    margin-bottom: 0;
    /*Font-family arondisment*/
    font-family: 'times new roman', serif;
    letter-spacing: 2px;
    height: 12vh;
}

.barreDeNavigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /*Reduire le space-around*/
    width: 70%;
    align-items: center;
    font-size:medium;

    height: 9vh;

}

a {
    text-decoration: none;
    color: #333;
}

/*Transition pour le a:hover en couleur bleu*/
a:hover{
    color: #00bcd4;
}

.bandoCitation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 15vh;
    background-color: #82a0b663;

    font-family: 'Rokkitt', Times, serif, sans-serif;
}

p{
    margin-bottom: 0;
    font-family:'Rokkitt', Times, serif, sans-serif;
    letter-spacing: 2px;

    /*Mise en italique */
    font-style: italic;
    text-align: center;
}

.barreMySkill{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 12vh;

    font-family: 'Rokkitt', Times, serif, sans-serif;
}

.MeilleurProjet{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    height: 30vh;

    /*Conteneur avec bord arrondi*/
    border: black solid 1px;
    border-radius: 100%;
    font-family: 'Rokkitt', Times, serif, sans-serif;
    
    text-align: center;
    font-size: 1.5em;

    /*Mise en italique */
    font-style: italic;
    

    /*Mise en gras */
    font-weight: bold;

    
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*Descendre de 10px*/
    margin-top: 10px;
    width: 50%;
    height: 12vh;

}


.MeilleurProjet > a > img{
    /*Diminuer l'image*/
    max-width: 50%;
    max-height: 50%;
}

.contact > a > img{
    /*Diminuer l'image*/
    max-width: 50px;
    max-height: 50px;
}

.MeilleurProjet:hover{
    animation: 1s ease-in-out 0s normal none 1 running bounce;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
