/* ---- Ce fichier à été crée a partir du 21/04/2022 par Mathis heriveau ---- */
/* ---------- Il contient les regles de style de la page index.html --------- */



/* -------------------------------------------------------------------------- */
/*                                    Body                                    */
/* -------------------------------------------------------------------------- */

body{
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
    top: 0;
    overflow-x: hidden; 
}


/* -------------------------------------------------------------------------- */
/*                             Barre de navigation                            */
/* -------------------------------------------------------------------------- */

header{
    top: 0;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
}
/* Media inferieur a 700px */
@media screen and (min-width: 700px){
    header{
        font-size: small;
    }
}
@media screen and (max-width: 700px){
    header{
        font-size: xx-small;
    }
}


.menu ul{
    list-style-type: none;
    
}
.menu> ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu> li{
    width: 16vw;
    text-align: center;
}



.menu ul::after{
    content: "";
}

.menu a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

.menu a:hover{
    color: rgb(238,116,22);
    border-bottom: 2px solid rgb(238,116,22);
}

@media screen and (min-width: 700px){
    .menu > ul > li > img{
        margin-right: 100%; 
        width: 100px; 
        height: ato; 
    }
}
@media screen and (max-width: 700px){
    .menu > ul > li > img{
        margin-right: 100%; 
        width: 60px; 
        height: auto; 
    }
}
/* -------------------------------- Sous menu ------------------------------- */

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 20vw;
    z-index: 1000;
}
.menu > ul li:hover .sous{
    display: block;
}

.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}


@media screen and (min-width: 700px){
    .deroulant > a::after{
        content:" ▼";
        font-size: 12px;
    }
}


/* -------------------------------- Selection ------------------------------- */
li > .selectionne{
    color: seagreen;
}




/* -------------------------------------------------------------------------- */
/*                               Partie section                               */
/* -------------------------------------------------------------------------- */

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    /* background-color: rgb(64,188,211); */
}

section > .presentation{
    width: 100%;
    height: 100%;
}

section > .presentation > p{
    color: black;
    font-size: medium;
    margin: 0;
    padding-right: 16px;
}
section{
    padding: 16px;}

section > .presentation > ul{
    
    padding-right: 16px;
}