body{
    background-color: snow;
    background-repeat: no-repeat;
    margin: 0px;
    justify-content: space-around;
    border: black 1px;
    font-size: 10px;
    font-family: Arial;
    color: black;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

:root{
    --hauteur-menu: 5vh;
}

* {
    margin: 0rem;
    padding: 0rem;
    font-family: Montserrat, sans-serif;
}


header {
    /* Largeur a 100% */
    width:7vw;
    /* Reste en haut meme si on defile*/
    position: sticky;
    /* Pas de margin */
    top: 0;
    font-size: large;
    text-align: center;
    padding-left: 10vw;
}

/* Pour l'élement ul aprés header */
header > ul {
    /* On ajoute une flex box */
    display: flex;
    /* On aligne le texte au centre */
    text-align: center;
    /* Haureur de la variable */
    height: var(--hauteur-menu);
    
}

/* On enleve les styles par dedfault */
header ul {
    list-style-type: none;  
}

/* Les li dans ul dans header */
header > ul > li {
    flex: 2;
    background-color:rgba(0,0,0,0.8);
}

header > ul > li > a {
    position:absolute;
    top: 12%;
    width: 100%;
    transform: translate(-50%, 1%);
    color: white;
    
}

li a {
    text-decoration: none;
    color: black;
}


.menu-deroulant > a::before{
    content: "Ξ";
    color: red;
    font-size: 1vw;
    display: inline-block;
}

.sous-menu {
    margin-top: var(--hauteur-menu);
    text-align: left;
    background-color:rgba(0,0,0,0.8);
    color: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    text-align: center;

}

.sous-menu > li > a {
    padding: 2%;
    width: 100vw;
    align-items: center;
    color: white;
}



.sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
}

.sous-menu > li:hover > a {
    color: white;
    
}

@keyframes rotationFleche {
0% {
    transform: rotate(0deg);
}
100%{
    transform: rotate(90deg);
}
}  

.menu-deroulant:hover > a::before{
    animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
    0% {
    }
    30% {
    }
    100% {
        max-height: 50em;
    }
}

.menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
    text-align: left;
}

section{
    padding-top: 9vh;
    text-align: center;

}

section > h2 {
    color: #a8084a;
    font-size: 2vw;
}
section > h1 {
    font-size: 4vw;
    color: rgb(48, 48, 48);
    font-family: 'wpf';
    src: url('wpf.eot');
    src: url('wpf.eot?#iefix') format('embedded-opentype'),
            url('wpf.woff2') format('woff2'),
            url('wpf.woff') format('woff'),
            url('wpf.ttf') format('truetype'),
            url('wpf.sbg#svgwpf') format('svg');
}

section > h3 {
    font-size: 1vw;
    color:gainsboro;
    font-family:'Courier New', Courier, monospace;

}

.traduire{
    font-size: 1vw;
    color: #a8084a;
    font-family: 'Courier New', Courier, monospace;
}

div > button {
    background-color: #a8084a;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 1%;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
}

div > button:hover {
    background-color: #a8084a;
    color: blue;
    border: none;
    border-radius: 5px;
    padding: 1%;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
}

div > button:active {
    background-color: #a8084a;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 1%;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
}

div > button:focus {
    background-color: blue;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 1%;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
}